.movies {
  display: flex;
  flex-direction: column;
  padding: 0 70px 0;
}

.movies__search-form {
  margin: 70px 0 10px;
  padding-bottom: 70px;
  border-bottom: 1px solid #E8E8E8;
}

.movies__movies-card-list {
  margin: 70px 0 30px;
}

.movies__button-more {
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  background-color: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #E8E8E8;
  cursor: pointer;
  transition: opacity 1s linear;
}

.movies__button-more:hover {
  opacity: 0.5;
}

@media(max-width: 768px) {
  .movies {
    padding: 0 30px 0;
  }
}

@media(max-width: 520px) {
  .movies {
    padding: 0 10px 0;
  }

  .movies__search-form {
    margin: 80px 0 10px;
    padding-bottom: 45px;
  }

  .movies__movies-card-list {
    margin: 40px 0 30px;
  }

  .movies__button-more {
    width: 240px;
  }
}

