.search-form {
  padding-right: 30px;
  padding-left: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F9F9;
  border-radius: 9px;
  min-height: 72px;
}

.search-form__input-block {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-form__input-block-whitherror{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-form__input-error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF4062;
  margin: 6px 0 6px;
}

.search-form__image {
  width: 22px;
  height: 22px;
  margin-right: 16px;
}

.search-form__input {
  max-width: 740px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  background-color: inherit;
  border: none;
  width: 100%;
}
.search-form__input:focus {
outline: none;
}

.search-form__button {
  padding: 0 30px 0 46px;
  height: 34px;
  width: 34px;
  background-image: url(../../images/search-button.svg);
  background-color: inherit;
  background-size: 100% 100%;
  border: none;
  border-right: 1px solid #E8E8E8;
  cursor: pointer;
  transition: opacity 1s linear;
}

.search-form__button_disabled{
  opacity: 0.3;
}

.search-form__button:hover {
  opacity: 0.5;
}

.search-form__filter-checkbox {
  margin-left: 29px;
}

@media(max-width: 768px) {
  .search-form {
    padding-right: 20px;
  }

  .search-form__button {
    padding-right: 19px;
  }

  .search-form__filter-checkbox {
    margin-left: 19px;
  }
}

@media(max-width: 520px) {
  .search-form {
    flex-direction: column;
    padding: 0;
    background-color: #ffffff;
    border-radius: 0;
  }

  .search-form__input-block {
    background-color: #F9F9F9;
    border-radius: 9px;
    min-height: 72px;
  }

  .search-form__image {
    display: none;
  }

  .search-form__button {
    padding-right: 19;
    border: none;
  }

  .search-form__input {
    padding-left: 19px;
    font-size: 14px;
    line-height: 20px;
  }

  .search-form__filter-checkbox {
    margin-left: 0;
    margin-top: 45px;
  }
}