.about-project {
  padding: 110px 70px 110px;
  display: flex;
  flex-direction: column;

}

.about-project__stages {
  display: flex;
  margin: 70px 0 110px;
}

.about-project__stages-block {
  margin-right: 40px;
}

.about-project__stages-block:last-of-type {
  margin-right: 0;
}

.about-project__header {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000000;
  padding-bottom: 23px;
}

.about-project__stages-title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__stages-text {
  margin: 26px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timing {
  display: grid;
  grid-template-columns: 228px 1fr;
  grid-template-columns: 228px 1fr;
}

.about-project__timing-element {
  margin: 0;
  padding: 9px 0 9px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.about-project__timing-element_one-week {
  color: #FFFFFF;
  background-color: #000000;

}

.about-project__timing-element_four-week {
  color: #000000;
  background-color: #F2F2F2;
  ;

}

.about-project__timing-element_bottom-text {
  padding: 14px 0 0;
  color: #A0A0A0;
  font-weight: 500;
}

@media(max-width: 768px) {
  .about-project {
    padding: 90px 50px 90px;
  }

  .about-project__stages {
    margin-bottom: 93px;
  }

  .about-project__stages-block {
    margin-right: 30px;
  }

  .about-project__stages-text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__timing {
    grid-template-columns: 140px 1fr;
    grid-template-columns: 140px 1fr;
  }
}

@media(max-width: 520px) {
  .about-project {
    padding: 70px 18px 70px;
  }

  .about-project__header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;   
  }

  .about-project__stages {
    display: flex;
    flex-direction: column;
    margin: 60px 0 0;
  }

  .about-project__stages-block {
    margin-right: 0;
  }

  .about-project__stages-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__stages-text {
    margin: 16px 0 60px;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__timing {
    grid-template-columns: 100px 1fr;
    grid-template-columns: 100px 1fr;
  }

  .about-project__timing-element {
    padding: 11px 0 11px;
    text-align: center;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
  }
}

