.footer {
  padding: 79px 70px 20px;
  display: flex;
  flex-direction: column;
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #A0A0A0;
}

.footer__bottom-block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #E8E8E8;
}

.footer__copy {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link {
  margin-right: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  text-align: right;
  color: #000000;
  cursor: pointer;
  transition: opacity 1s linear;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:last-of-type {
  margin-right: 0;
}

@media(max-width: 768px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media(max-width: 520px) {
  .footer {
    padding: 79px 10px 10px;
  }

  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__bottom-block {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
  }

  .footer__copy {
    margin-top: 30px;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 12px;
  }

  .footer__link:last-of-type {
    margin: 0;
  }
}